* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Playpen Sans', cursive;
	/* background-color: var(--light-orange); */
}

:root {
	--small-font: 1.2rem;
	--medium-font: 1.4rem;
	--large-font: 1.8rem;
	--xlarge-font: 2.2rem;

	--background-shadow: rgba(32, 35, 41, 0.8);
	--input-color: rgb(221, 219, 219);
	--dark-yellow: #f4f500;
	--light-yellow: #ffff20;
	--dark-green: #74f400;
	--light-green: #8bff1f;
	--very-light-green:#befa85;
	--orange: #ff8000;
	--light-orange: #fbedde;
	--white: white;
	--black: black;
	--background-brown: #413225;
}

main {
	width: 100%;
	font-size: var(--medium-font);
	padding-bottom: 1rem;
}

section {
	width: 30rem;
	margin: 0 auto;
}

.imgs-container {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: -1;
}

.banana-img {
opacity: 0.2;
  width: 25rem;
  position: absolute;
  left: 10%;
  top: 2%;
  transform: translateX(-50%);
  z-index: -1;
}

.tomato-img {
	opacity: 0.2;
  width: 15rem;
  position: absolute;
  left: 80%;
  top: 15%;
  transform: translateX(-50%);
  z-index: -1;
}

.cheese-img {
	opacity: 0.5;
  width: 25rem;
  position: absolute;
  left: 40%;
  top: 60%;
  transform: translateX(-50%);
  z-index: -1;
}

.list-section h1 {
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 0 3rem;
	font-size: var(--xlarge-font);
	border-radius: 1rem;
	color: var(--white);
	background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
}

.list-section span {
	display: block;
	font-weight: bold;
}

#shores_list {
	width: 100%;
	height: 4rem;
	border: 0.2rem solid var(--input-color);
	border-radius: 0.5rem;
	margin-top: 1rem;
	font-size: var(--medium-font);
}

.selection-section {
	margin-top: 4rem;
	border-radius: 1rem;
	background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
	padding: 2rem 0;
}

.selection-section h2 {
	text-align: center;
	font-size: var(--large-font);
}

.quantity-modal, .add-modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--background-shadow);
	width: 100%;
	height: 100vh;
}

.quantity-modal div, .add-modal div {
	width: 30rem;
	height: 22rem;
	background-color: var(--white);
	margin: 0 auto;
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: var(--medium-font);
	align-self: center;
}

.add-modal div {
	height: 45rem;
}

.quantity-modal div p:first-child span {
	color: red;
}

.quantity-modal div p:nth-child(2) {
	text-align: center;
	margin-top: 1rem;
}

.add-modal div p:nth-child(3), .add-modal div p:nth-child(5) {
	margin-top: 2rem;
}

.add-modal div p:nth-child(2),
.add-modal div p:nth-child(4),
.add-modal div p:nth-child(6),
.add-modal div p:nth-child(7),
.add-modal div p:nth-child(8) {
	text-align: center;
	margin-top: 1rem;
}

.quantity-modal input, #new_product_quantity {
	width: 6rem;
	height: 3rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-left: 0.5rem;
}

#new_product_name, #new_product_measurement {
	width: 28rem;
	height: 3rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-left: 0.5rem;
}

.quantity-modal button, .add-modal button {
	width: 28rem;
	height: 4rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
	cursor: pointer;
	background-color: var(--white);
	border: 0.3rem solid var(--orange);
	font-weight: bold;
}

.quantity-modal p button:nth-child(3), #new_product_btn {
	margin-top: 3rem;
	background-color: var(--orange);
	color: var(--white);
	border: none;
}

.quantity-modal p button:nth-child(3):active, #new_product_btn:active {
	background-color: var(--dark-green);
	color: var(--black);
}

.quantity-modal p button:nth-child(4):active, #new_product_cancel:active {
	background-color: var(--input-color);
	border: none;
}

.quantity-modal span {
	margin-left: 0.5rem;
}

#selection_list {
	min-height: 10rem;
	padding: 1rem;
}

#selection_list li {
	background-color: var(--white);
	border-radius: 2rem;
	min-height: 5rem;
	padding: 0.5rem;
	margin-top: 1rem;
	display: grid;
	gap: 0.4rem;
	grid-template-columns: 1fr 15fr 1fr;
	justify-items: left;
	list-style: none;
	align-items: center;
}

.red-font {
	color: red;
	font-weight: bold;
	font-size: var(--large-font);
}

.x-button__container {
	display: flex;
	justify-content: end;
	align-items: center;
	color: red;
	cursor: pointer;
	margin-right: 0.2rem;
}

.add-product__section{
	text-align: center;
}

.add-product__section p {
	margin-top: 17rem;
	border-top: 0.2rem solid var(--orange);
	padding-top: 2rem;
}

#add_product_btn {
	width: 28rem;
	height: 4rem;
	border-radius: 0.5rem;
	cursor: pointer;
	/* margin-top: 17rem; */
	background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
	color: var(--white);
	border: none;
	font-weight: bold;
}

#add_product_btn:active {
	background: var(--white);
	color: var(--black);
}